<div *ngIf="cart.length < 1">
  <p>Du har inte lagt till några filmer i din varukorg!</p>
</div>

<div *ngFor="let movie of cart">
  <p>{{ movie.name }}</p>
  <img src="{{ movie.imageUrl }}" alt="" />
  <p>{{ movie.quantity }}</p>
  <div *ngFor="let i of movie.productCategory">
    <p>{{ i.categoryId }}</p>
  </div>

  <button (click)="increaseInCart(movie)">PLUS</button>
  <button (click)="decreaseInCart(movie)">MINUS</button>
</div>

<div *ngIf="cart.length >= 1">
  <p>Ditt totala pris: {{ totalPrice }}</p>
  <button (click)="clearCart()">Töm varukogen!</button>
</div>

<br />
<button (click)="goToCheckout()">Gå till checkout!</button>
